:root {
  --primary-dark: black;
  --primary-light: rgb(255, 255, 245);
  --secondary-light: rgb(255, 255, 225);
  --temp-color: rgb(170, 147, 173);
  --max-width: 70ch;
}

html {
  color: var(--primary-dark);
  /*background-color: var(--temp-color);use this for a static background*/
  /*max-width: var(--max-width);didn't like how this worked, using margins in main below*/
  padding: 1em 1em;
 /*margin: 0px;*/
  line-height: 1.75;
  font-size: 1.25em;
  font-family: Arial, Helvetica, sans-serif;

}
body {
    /*gradient background*/
    background-image: linear-gradient(#bf5700, #bd9d82);
    background-repeat:no-repeat;
    background-attachment: fixed;

    /*test of font size...*/
    font-size: 1.4vw;
}


main {
    /*nice margins so things don't get too close to edges... adjusted to look better on mobile.*/
    margin-left: 170px;
    margin-right: 20px;
}

.menu {
    width: 100px; 
    list-style-type: none; /* removing bullets from list */
    padding: 0px;
    margin: 0px;
    float:left;
}
/* Styling the links */
.menu a {
    /*colors borrowed from UT */
    background-color: #333f48;
    display: block;	  
    color: white;
    padding-left: 5px; 
    text-decoration: none; 
    font-size : 18px;
}
.menu a:hover {
    background-color: #565656;
}
.menu a.active {
    background-color: #FFFFFF; 
    color: black;
}


/* Only include padding if the code tag is in a pre tag. */
pre > code {
  padding: 0.5em;
}

pre {
  background-color: var(--temp-color);
  border: 0.1em solid var(--primary-dark);

  /* Horizontal scroll for blocks of code. */
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

/* Responsive image. */
img {
  height: auto;
  max-width: calc(var(--max-width) / 2);
  width: 100%;
}
